<div class="col-xs-12 col-sm-6">
  <div class="card">
    <div class="card-header">
      <code><%= heading %></code>
    </div>
    <div class="card-body">
      <pre class="mb-0"><%= render :partial => "pdf/#{code}" %></pre>
    </div>
  </div>
</div>