// Place all the styles related to the pdf controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-body {
  .row:not(:last-child) {
    margin-bottom: 1rem !important;
  }
}

.col-xs-12 + .col-xs-12 {
  margin-top: 1rem !important;
}

@media (min-width: 576px) {

  .col-xs-12 + .col-xs-12 {
    margin-top: 0 !important;
  }

}